:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--stone-100);
}

h1,
h2,
h3 {
    font-family: "Young Serif", serif;
    font-weight: 700;
    font-style: normal;
}

ol {
    margin: 0;
}
    
li {
    list-style-type: none;
}
    
section {
    margin-bottom: 2rem;
}
 
hr {
    color: var(--stone-100);
    opacity: 0.3;
}

span {
    color: var(--stone-900);
    font-weight: bold;
}

.container-recipe {
    width: 100%;
    max-width: 740px;
    border-radius: 20px;

    background-color: var(--white);
}

.recipe__image {
    width: 100%;
    max-width: 650px;
    min-height: 168px;
    height: 20.9vw;
    background-image: url("../assets/images/image-omelette.jpeg");
    background-size: cover;
    
    overflow: hidden;
}

.recipe__title {
    font-size: 2.1rem;
    line-height: 1;
    padding: 0 2rem;
    letter-spacing: 1px;
    color: var(--stone-900);
}

.recipe__paragraph {
    line-height: 1.5;
    padding: 0 2.7rem;
    color: var(--stone-600);
}
    
.main {
    padding: 2rem;
}

.time {
    background-color: var(--rose-50);
    padding: 20px 20px 5px;
    border-radius: 10px;
}

.time__subtitle {
    margin-top: 0;
    color: var(--rose-800);
    letter-spacing: 1px;
}

.time__item {
    color: var(--stone-900);
    margin-bottom: 0.6rem;
    padding-right: 5px;
    line-height: 1.5;
    position: relative;
}

.time__item--color {
    color: var(--stone-600);
}


.time__item::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--brown-800);
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.title {
    font-size: 1.8rem;
    color: var(--brown-800);
}

.instructions {
    margin-bottom: 0;
}

.instruction__items {
    padding: 20px;
}
    
.instruction__item {
   list-style-type: decimal;
   color: var(--stone-600);
   margin-bottom: 0.6rem;
   line-height: 1.5;
   padding-left: 20px;
}
   
::marker {
   color: var(--brown-800);
   font-weight: bold;
}

.nutrition__paragraph {
    line-height: 1.5;
    color: var(--stone-600);
}

.table {
    color: var(--stone-600);
    width: 100%;
}

td {
    border-bottom: 1px solid hsla(30, 18%, 87%, 1);
    border-collapse: collapse;
    padding: 10px 30px;
}

tr td:first-child {
    width: 42%;
}

tr td:last-child {
    color: var(--brown-800);
    font-weight: bold;
}

@media screen and (min-width: 376px) {
    .container-recipe {
        margin-top: calc(8.3vw - 31px);
        margin-bottom: calc(8.3vw - 31px);
    }

    .recipe__image {
        width: 95%;
        margin: calc(3.5vw - 10px);
        margin-bottom: 0;
        border-radius: 15px;
    }

    .recipe__title {
        padding-left: calc(2rem + 0.56vw);
        padding-right: calc(2rem + 0.56vw);
        font-size: 2.4rem;
    }

    .main {
        padding: calc(2rem + 0.56vw);
    }
}